body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 80px;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid blue; */
    /* border-bottom: 1px solid black; */
}
.logo{
    width: 100px;
    height: 80px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.logoimg{
    height: 80%;
}

.search-div{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
    width: 250px;

}

.search-div >input{
    margin-right: 15px;
    outline: none;
    border: none;
    padding: 7px;
    border-radius: 15px;
    width: 220px;
    height: 30px;
}

.search-div .search-icon{
    color: black;
    position: relative;
    right: 40px;
    font-size: 20px;
    margin-right: 7px;
    cursor: pointer;
}
.navList{
    /* border: 2px solid blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 10px;
    flex-wrap: wrap;
}
.navList > li{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.authButtons{
    /* border: 2px solid brown; */
    display: flex;
    align-items: center;
    margin: 15px;
    width: 170px;
    justify-content: space-between;
    padding: 10px;
}

.authButtons > button{
        text-decoration: none;
        color:white;
        padding: 13px;
        text-align: center;
        font-size: 15px;
        border: none;
        cursor: pointer;
        background-color: black;
        border-radius: 5px;
        margin: 5px;
}

.body{
    height: fit-content;
    width: 100%;
    /* background-color: red; */
    /* border: 3px solid black; */
    display: flex;
    /* background-color: rgb(218, 209, 193); */
    background-color: #DCC7AA;
}
.body .RestauLists{
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
}
.body .restauCard{
    width: 15%;
    height: 200px;
    background-color: white;
    /* border: 2px solid blue; */
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    border:  3px solid #D3D3D3;
}
.restauCard >img{
    height: 90px;
    width: 100%;
    border-radius: 15px;
}
.body .restauCard .RestuContent{
    /* background-color: white; */
    /* height: 100px; */
    /* background-color: #D3D3D3; */
    padding: 8px;
    margin-top: 3px;
    line-height: 0.5;
    width: fit-content; 
    /* To adjust the height as well */ 
    height: fit-content;
    border-radius: 10px 10px 0px 0px;
}
.body .restauCard .RestuContent .RestauName{
    margin-right: 15px;
    color: blue;
}